<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<div layout:fragment="content">
    <!--Content of the page-->
    <div class="app-main__inner">
        <div class="row">
        </div>
        <div class="row">
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div style="margin-left:20px;margin-right:20px;">
                    <div class="table-responsive">
                        <h3 style="margin-top:15px;font-weight:bold;margin-left:15px">Attendance</h3>

                        <div>
                            <label>Start date:</label>
                            <input type="date" id="theDate">
                        </div>
                        <p>Type something in the input field to search the table for first names, last names:</p>
                        <input class="form-control" id="myInput" type="text" placeholder="Search..">

                        <div th:if="${param.success}">
                            <div style="color:green">You've successfully updated the attendance!</div>
                        </div>
                        <div th:if="${param.fail}">
                            <div style="color:red">Attendance update fail!</div>
                        </div>
                        <form th:action="@{/attendance}" method="post" th:object="${form}">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <table  id="myTable" class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th scope="col">Present</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
<!--                                            <th scope="col">Mobilephone</th>-->
                                            <th scope="col">Gender</th>
                                            <th scope="col">Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="attend,itemStat  : *{attends}">
                                            <td>
                                                <input type="checkbox" th:field="*{attends[__${itemStat.index}__].present}" th:checked="${attend.present}" th:value="${attend.id}" />
                                            </td>
                                            <input hidden th:field="*{attends[__${itemStat.index}__].id}"  />
                                            <input hidden th:field="*{attends[__${itemStat.index}__].createdDate}"  />
                                            <td th:text="${attend.firstName}">First Name</td>
                                            <td th:text="${attend.lastName}">last Name</td>
<!--                                            <td th:text="${attend.mobilephone1}">Mobilephone1</td>-->
                                            <td th:text="${attend.gender}">Gender</td>
                                            <td th:text="${attend.createdDate}">Date</td>
                                        </tr>


                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary" >Update</button>
                                <button type="reset" class="btn btn-primary" id="resetButton" name="reset" th:value="Reset">Refresh</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>