<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="alayout">
<div layout:fragment="content">
    <!--Content of the page-->
    <div class="app-main__inner">
        <div class="row">
        </div>
        <div class="row">
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="table-responsive" style="height: 600px;overflow: scroll;">
<!--                        <form th:action="@{/repository}" th:object="${user}"   class="login100-form validate-form p-b-33 p-t-5" method="post">-->

                        <input type="text" id="myInput" onkeyup="myFunction()"  placeholder="Type to search for name">
                        <table id="myTable" class="align-middle mb-0 table table-borderless table-striped table-hover">
                            <tr>
                                <th>Id</th>
                                <th>FirstName</th>
                                <th>LastName</th>
                                <th>MobilePhone</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Action</th>
                            </tr>
                            <tr th:each="user: ${userList}">
                                <td th:text="${user.id}">2</td>
                                <td th:text="${user.firstName}">Spring </td>
                                <td th:text="${user.lastName}"> Action</td>
                                <td th:text="${user.mobilephone}">070888888888</td>
                                <td th:text="${user.email}">sprin@gmail.com</td>
                                <td th:text="${user.role}">admin</td>
                                <td><a th:href="@{'/user/edit/' + ${user.email}+'/name/'+${user.firstName}}">Edit</a></td>
                                <td><a th:href="@{'/user/delete/' + ${user.email}+'/name/'+${user.firstName}}">Delete</a></td>
<!--                                <td><a th:href="@{'/repository/user/'+${git}+'/name/'+${repo.name}}">Details</a></td>-->

                            </tr>

                            </tr>
                            <!--                                            </tbody>-->
                        </table>
<!--                        </form>-->
                    </div>

                    <div class="d-block text-center card-footer">
                        <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i class="pe-7s-trash btn-icon-wrapper"> </i></button>
                        <button class="btn-wide btn btn-success">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>