<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<div layout:fragment="content">
    <!--Content of the page-->
    <div class="app-main__inner">
        <div class="row">
        </div>
        <div class="row">
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="table-responsive" style="height: 600px;overflow: scroll;">
                        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                            <tr>
                                <th class="text-center">Name</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">Date</th>
                            </tr>
                            <tr th:each="repo: ${repository}">
                                <td class="text-center" th:text="${repo.name}">Spring in Action</td>
                                <td class="text-center" th:text="${repo.email}">Spring in Action</td>
                                <td class="text-center" th:text="${repo.date}">Spring in Action</td>
                            </tr>

                            </tr>
                            <!--                                            </tbody>-->
                        </table>
                    </div>

<!--                    <div class="d-block text-center card-footer">-->
<!--                        <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i class="pe-7s-trash btn-icon-wrapper"> </i></button>-->
<!--                        <button class="btn-wide btn btn-success">Save</button>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
</html>